.layout {

    height: 100vh;

    display: flex;

    flex-direction: column;

}

.main-container {

    flex: 1;

    display: flex;

    overflow: hidden;

}

.content {

    flex: 1;

    overflow: auto;

    padding: 24px;

    background: #F4F6FA;

}